<h1>Showing Article Details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p>
  <strong>By: </strong><%= @article.user.username %>
  <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
</p>

<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= button_to 'Delete', article_path(@article), method: :delete %>
<% end %>
<%= link_to 'Return to articles listing', articles_path %>